{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/assets/styles/globals.css",
    "tailwindFunctions": ["cn"],
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "singleAttributePerLine": true
}
